* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.mainPage {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1334312/pexels-photo-1334312.jpeg?cs=srgb&dl=pexels-designstrive-1334312.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titleContainer{
    width:100vw;
    z-index: 20;
    box-shadow: 10px 10px 40px black;
    position: fixed;
}
.imagebg{
    width:100vw;
    height: 100vh;
    
}
.titleBar img {
    width: 7vw;
  
}

.titleBar {
    border: 0px;
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: rgb(181, 181, 181);
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px 30px 20px 30px;
    
}

.buttonTitle{
    cursor: pointer;
    height:40px;
    background-color: none;
    border: none;
    background-color: rgb(74, 74, 74);
    border:1px solid white;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
.buttonsBig button{
    margin-top:300px;
    border: none;
    background: none;
    width: 200px;
    height: 120px;
    background: white;
    font-size: 18px ;
    border-radius: 50px;

}
.buttonsBig{
    display: flex;
    gap: 50px;
    justify-content: center;
}
